name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Build
      run: docker-compose build
      
    - name: Run app
      run: docker-compose -f docker-compose.yml -f docker-compose.prod.yml up -d web app
      
      # Should be a better way, but oh well.
    - name: Wait until app starts
      uses: jakejarvis/wait-action@master
      with:
        time: '15s'
    
    - name: Check app is running
      run: bash -c 'if [ $(curl -s -o /dev/null -w "%{http_code}" http://localhost:8080) == 200 ]; then exit 0; else exit 1; fi'
      
    - name: Teardown
      run: docker-compose down
